<section class="hero">
  <div class="hero-body" *ngIf="customer">
    <div class="container is-fluid">
      <p class="title is-2">{{customer.id? 'Επεξεργασία Πελάτη': 'Νέος Πελάτης'}}</p>
      <div class="columns is-multiline">
        <div class="column is-7">
          <div class="field">
            <label class="label">Όνομα</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.name" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Επίθετο</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.lastname" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Κινητό</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.mobile" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Τηλέφωνο</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.phone" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Διεύθυνση</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.address" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Περιοχή</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.area" type="text" >
            </div>
          </div>
          <div class="field">
            <label class="label">Αριθμός Κάρτας</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.identityNo" type="text" >
            </div>
          </div>
          <span class="buttons">
            <a [routerLink]="['/home']" class="button is-dark">Άκυρο</a>
            <a (click)="!customer.id ? insert():update()" class="button is-success">{{customer.id? 'Αποθήκευση': 'Εισαγωγή'}}</a>
            <a *ngIf="customer.id" class="button is-danger">Διαγραφή</a>
          </span>
        </div>
        <div class="column"></div>
        <div class="column is-2">
          <figure class="image is-1by3">
            <img [src]="'../../../assets/character.png'">
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>