<div class="field">
  <label class="label">Όνομα</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.name" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">Επίθετο</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.lastname" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">Κινητό</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.mobile" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">Τηλέφωνο</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.phone" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">Διεύθυνση</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.address" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">Αριθμός Κάρτας</label>
  <div class="control">
    <input class="input" [(ngModel)]="customer.cardNumber" type="text" placeholder="Text input">
  </div>
</div>
<a (click)="insert()" class="button is-primary">Primary</a>

