<section class="hero">
  <div class="hero-body" *ngIf="customer">
    <div class="container is-fluid">
      <div class="columns is-multiline is-centered">
        <div class="column is-half-widescreen is-12">
          <p class="title is-3">{{customer.id? 'Επεξεργασία Πελάτη': 'Νέος Πελάτης'}}</p>
          <hr class="is-marginless">
        </div>
      </div>
      <div class="columns is-multiline is-centered">
        <div class="column is-half-widescreen is-12">
          <div class="field">
            <label class="label">Όνομα</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.name" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Επίθετο</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.lastname" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Κινητό</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.mobile" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Τηλέφωνο</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.phone" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Διεύθυνση</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.address" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Περιοχή</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.area" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Αριθμός Κάρτας</label>
            <div class="control">
              <input class="input" [(ngModel)]="customer.identityNo" type="text">
            </div>
          </div>
          <div class="is-clearfix field">
            <span class="buttons is-pulled-right">
              <a [routerLink]="['/customers']" class="button">Πίσω</a>
              <a (click)="!customer.id ? insert():update()" class="button is-success">{{customer.id? 'Αποθήκευση': 'Εισαγωγή'}}</a>
              <a *ngIf="customer.id" class="button is-danger" (click)="verify = true">Διαγραφή</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" [ngClass]="{'is-active':verify}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Επιβεβαίωση διαγραφής</p>
    </header>
    <section class="modal-card-body">
     <span class="has-text-danger has-text-weight-bold">Προσοχή!!</span> Είστε σίγουρος για την διαγραφή? Με την διαγραφή του πελάτη θα διαγραφούν και όλες οι παραγγελίες του.
    </section>
    <footer class="modal-card-foot">
      <button class="button is-default" (click)="verify = false">Άκυρο</button>
      <button class="button is-danger" (click)="deleteCustomer()">Διαγραφή</button>
    </footer>
  </div>
</div>