<nav class="navbar is-transparent ">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item has-text-white has-text-weight-bold is-size-5 is-italic" [routerLink]="['/home']">
        <span class="has-text-danger">T</span>he
        <span class="has-text-danger">G</span>ame
        <span class="has-text-danger">R</span>ules
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary" [routerLink]="['/rent','new']">
                <span class="icon">
                  <i class="fa fa-shopping-cart"></i>
                </span>
                <span>Νέα Ενοικίαση</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" [routerLink]="['/customer','new']">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>Νέος Πελάτης</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" [routerLink]="['/customers']">
                <span class="icon">
                  <i class="fa fa-users"></i>
                </span>
                <span>Πελάτες</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>