<nav class="navbar is-black">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item has-text-white has-text-weight-bold is-size-5 is-italic" [routerLink]="['/home']">
        <span class="has-text-danger">T</span>he
        <span class="has-text-danger">G</span>ame
        <span class="has-text-danger">R</span>ules
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/rent','new']">
          <span class="icon">
            <i class="fa fa-shopping-cart"></i>
          </span>
          <span>Νέα Ενοικίαση</span>
        </a>
        <a class="navbar-item" [routerLink]="['/rents','1','5','all','created']">
          <span class="icon">
            <i class="fa fa-list"></i>
          </span>
          <span>Ενοικίασεις</span>
        </a>
        <a class="navbar-item" [routerLink]="['/customer','new']">
          <span class="icon">
            <i class="fa fa-user-plus"></i>
          </span>
          <span>Νέος Πελάτης</span>
        </a>
        <a class="navbar-item" [routerLink]="['/customers']">
          <span class="icon">
            <i class="fa fa-users"></i>
          </span>
          <span>Πελάτες</span>
        </a>
      </div>
    </div>
  </div>
</nav>