.is-fullwidth
    width: 100%
.dropdown-content
    height: 200px
    overflow: auto
.field.is-grouped.is-grouped-multiline
    border: 2px solid rgba(255, 255, 255, 0.54)
    padding: 10px 10px 0
    border-radius: 5px
    min-height: 40px
    margin-bottom: 0.75rem

.tag:not(body).is-delete:hover
    background-color: #5c5c5c

.input[disabled], .textarea[disabled] 
    background-color: #e8e8e8
    border-color: #bfbfbf
    box-shadow: none
    color: rgba(0, 0, 0, 0.67)
    opacity: 1
