@import "../../node_modules/bulma/sass/utilities/initial-variables.sass"
@import "../../node_modules/bulma/sass/utilities/functions.sass"

$turquoise:	#2e65a2
$yellow: #c48300 
$green: #154310
$red: #e50b0b 

$body-family: 'Work Sans', serif
$family-primary: 'Work Sans', serif

$navbar-height: 2.7rem
// $text: white
// $label-color: $text
// $title-color: darken($text,5%)
// $subtitle-color: darken($text,7%)
// $body-color: $text

// Table
// $table-color: $text
$table-cell-heading-color: black
$table-background-color: transparent
$table-striped-row-even-background-color: #d9d9d9
$table-striped-row-even-hover-background-color: lighten(#d9d9d9, 3%)

$pagination-color: $turquoise
$pagination-hover-color: darken($turquoise ,10%)
$pagination-current-background-color: $turquoise
$pagination-current-border-color: $turquoise